@import "tailwindcss";

@theme {
  --color-brand-orange: #F7941D;
  --color-brand-orange-hover: #e57a0b;
  --color-brand-dark: #0C3246;
  --color-brand-navy: #071f2c;
  --color-brand-blue: #18455D;
  --color-brand-light: #FFF9F2;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  overflow-x: hidden;
}

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Selection color */
::selection {
  background-color: #F7941D;
  color: #ffffff;
}
